.foto {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
   
}

@media screen and (min-width: 0) {
    .foto {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .foto {
        flex-direction: row;
    }
}